// COLORS
$color-white: #FFF;
$color-black: #1b1b1b;
$color-primary: #F4E041;
$color-secondary: #00BDD3;
$color-bg: #F8F8F8;

$color-btn-hover: #FFE302;
$color-btn-disabled: #B4B4B4;


// FONT
$font-line-height: 150%;
$font-weight-regular: 400;

$font-size-h1: 4rem;
$font-size-body: 1.6rem;
$font-size-button: 1.2rem;

// Z-INDEX
$z-index-header: 100;

// BORDER
$border-button-radius: 8rem;
$border-card-radius: 1rem;
$border-input-radius: .1rem;
$border-sm-radius: 2rem;

// TRANSITIONS
$transition-delay-250: 250ms;
$transition-delay-400: 400ms;
$transition-fn-main: ease;

// SHADOWS
$shadow-introduction: 0 1.5rem 5rem rgba(0, 11, 20, 0.6);

// BREAKPOINTS
$breakpoint-xs: 319.9px;
$breakpoint-sm: 479.9px;
$breakpoint-md: 766.9px;
$breakpoint-lg: 991.9px;
$breakpoint-xl: 1199.9px;

// ADDITIONAL BREAKPOINTS
