@import 'src/styles/variables';

.app {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__header {
		position: sticky;
		top: 0;
		left: 0;
		z-index: $z-index-header;
		height: $header-height;
		background-color: $color-white;
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
	}
}
